{% extends 'base.html' %}

{% block content %}
<!--Flask Flashed Messages to the User-->
<div class="container">
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for cat, msg in messages %}
                {% if cat == 'user-created' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ msg }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                {% elif cat == 'auth-success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
            {% endfor %}    
        {% endif %}
    {% endwith %}
</div>



<div class="container">
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Traditional Vietnamese recipes passed on from my family to yours</h2>
            <h5>Create amazing homecooked meals!</h5>
            <div>
                <button type="button" class="btn btn-outline-warning">Recipe Subscription</button>
                <button type="button" class="btn btn-outline-warning">Video Tutorials</button>
            </div>
        </div>
        <!--Header Image-->
        <div class="col-12 col-md-6">
            <img src="../../static/images/undraw_cooking_lyxy.svg" alt="" class="header-image">
        </div>
    </header>
    <!--Header Section End-->
    <!--Start of Middle Section-->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Let's get started!</h2>
            <p>Prepare your kitchen with the right kitchen tools, cookware, and condiments before cooking</p>
        </div>
    </section>
    <!--End of Middle Section-->
    <!--Start of Features Section-->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/recipes.png" alt="Recipe Image" id="reci-image">
            <h4>Recipes</h4>
            <p>
                Discover traditional Vietnamese recipes here
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/condiments.png" alt="Condiments Image" id="condi-image">
            <h4>Condiments</h4>
            <p>
                Most common and used condiments that are staples to every recipe
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/tools.png" alt="Cookware Image" id="cookware-image">
            <h4>Cookware</h4>
            <p>
                A list of appropriate kitchen tools and cookware 
            </p>
        </div>
    </section>
    <!--End of Features-->
    <!--Start of Community-->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/undraw_diet_ghvw.svg" alt="Undraw image" id="undraw-image">
        </div>
        <div class="col-12 col-md-6">
            <h4>Follow along videos while you cook</h4>
            <p>
                Recipes range from slow cooked broths
                to quick easy meals. There are options for 
                vegans and vegetarians also!
            </p>
            <div>
                <button type="button" class="btn btn-warning">View on Youtube</button>
                <button type="button" class="btn btn-warning">Join Our Cooking Channel</button>
            </div>
        </div>
    </section>
    <!--End of Community-->
    <!--Start of Footer-->
    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            <img src="../../static/images/logo.png" alt="Footer Logo" id="footer-logo">
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Ala's Home Cooking</p>
                <p>Our Story</p>
                <p>Spreading The Word</p>
                <p>Recipes</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Ala's Home Cooking</p>
                <p>Our Story</p>
                <p>Spreading The Word</p>
                <p>Recipes</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Ala's Home Cooking</p>
                <p>Our Story</p>
                <p>Spreading The Word</p>
                <p>Recipes</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Ala's Home Cooking</p>
                <p>Our Story</p>
                <p>Spreading The Word</p>
                <p>Recipes</p>
            </div>
        </div>
        
    </footer>


</div>

{% endblock content %}