/* Nav Styles */
.ct-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.left {
    padding-left: 30rem;
}

/* Main Logo Image */
.ct-nav img{
    width: 80%;
    max-width: 100%;
    margin-left: 5vw;
    margin-right: 40px;
}

ul#horizontal-list{
    min-width: 75vw;
    list-style-type: none;
    margin-left: 45px;
    margin-bottom: 0;
}

#horizontal-list li, #horizontal-list a{
    display: inline;
    text-decoration: none;
    padding: 0.5vw;
    color:black;
}

#horizontal-list a:nth-last-child(1){   
    border: 2px solid goldenrod;
    border-radius: 11px;
    margin-right: 0.2vw;
}    

/* End of Nav Styles */

/* Start of Header Section */

#header-text{
    padding: 7vw;
}

.header-image{
    width: 75%;
    max-width: 100%;
    padding-left: 1vw;
}
/* End of Header Section */

/* Start of Middle Section */

#middle-text{
    text-align: center;
    padding: 10vh;
}

#middle-text h2{
    padding: 1.5vw;
}

/* End of Middle Section */

/* Start of Features Section */

/* #condi-image{
    margin-bottom: 2vh
} */

#reci-image, #condi-image, #cookware-image{
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 10vh;
}

#features-section{
    margin: 8vw;
    text-align: center;
}

/* End of Features Section */

/* Start of Community Section */
#undraw-image{
    width: 50%;
    max-width: 75%;
    margin-left: 3vw;
}

/* End of Community Section */

/* Start of Footer Section */
.footer-text-flex{
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
}

#footer-logo{
    width: 60%;
    max-width: 100%;
}

#footer{
    border-top: 3px solid black;
    margin-top: 20vh;
    margin: center;

}